<html>
<head><title>template</title></head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">template</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/</td>
	<td></td>
</tr>
<tr>
	<td>pause</td>
	<td>1000</td>
	<td></td>
</tr>
<!--Variables Declarations-->
<tr>
	<td>store</td>
	<td>value</td>
	<td>myVaraiable</td>
</tr>
<!--Acessing the page-->
<tr>
	<td>clickAndWait</td>
	<td>link=myLink</td>
	<td></td>
</tr>
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td>
</tr>
<!--Elements required-->
<tr>
	<td>assertTitle</td>
	<td>myTitle</td>
	<td></td>
</tr>
<tr>
	<td>assertElementPresent</td>
	<td>myElement</td>
	<td></td>
</tr>
<tr>
	<td>assertTextPresent</td>
	<td>${myVariable}</td>
	<td></td>
</tr>
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td>
</tr>
<!--Simple Tests-->
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td>
</tr>
<!--Test 1 - Valid - Action 1-->
<tr>
	<td>Executing actions</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td>
</tr>
<tr>
	<td>Verifying results</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td>
</tr>
<!--Test 2 -Valid - Action 2-->
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td>
</tr>
<!--Test 3 - Invalid - Action 1-->
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td>
</tr>
<!--Test 4 - Invalid - Action 2-->
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td>
</tr>
</tbody></table>
</body>
</html>
